-- IDEA local project settings
.idea/workspace.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/libraries
*.iml

-- compilation target directory
target/

--test files
**/*.in
**/*.out

-- idris generated cache
**/*.ibc
